/* Estilos generales */
body {
    background-color: #D1BA9C;
    font-family: 'Quattrocento', sans-serif;
    color: #333;
}

/* Estilos para el encabezado */
header {
    background-color: #3C0000;
    color: #EEE9CC;
    text-align: center;
    padding: 10px 20px;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.copyright {
    margin-top: 20px;
    font-size: 0.8rem;
}



#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container img {
    width: 150px;
    height: auto;
}

/* Estilos de navegación */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #EEE9CC;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFD700;
}

/* Estilos para las secciones */
section {
    margin: 20px;
}

/* Estilos para títulos y subtítulos */
h1, h2, #title-container p {
    margin-bottom: 10px;
    font-family: 'Crushed', cursive;
}

#title-container p, #header-container p {
    font-family: 'Alex Brush', cursive;
    font-size: 1.5rem;
    margin: 5px 0;
}

#title-container h2.subtitle {
    font-family: 'Alex Brush', cursive;
}

/* Estilos para información específica */
#info1, #info2, #info3, #info4 {
    border: 2px solid #EEE9CC;
    padding: 20px;
    text-align: justify;
    background-color: #EEE9CC;
}

/* Estilos para el cuadro adicional del menú */
#additional-menu-box {
    background-color: #EEE9CC;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    display: none;
}

#additional-menu-box img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.additional-text {
    text-align: justify;
}

.additional-text h3 {
    margin-bottom: 10px;
}

.additional-text p {
    margin-bottom: 10px;
}

/* Otros estilos para mantener la consistencia con el diseño general */
.additional-text p {
    margin-bottom: 10px;
}

#info1 img {
    display: block;
    margin: auto;
}

/* Estilos para texto especial en la sección #info1 */
#info1 p.special-text {
    font-family: 'Crushed', cursive;
    font-weight: bold;
}

/* Fuentes de respaldo */
body, h1, h2, p, a {
    font-family: 'Quattrocento', sans-serif, 'Alex Brush', cursive;
}

/* Tu enlace visitado */
nav ul li a:visited {
    color: #EEE9CC;
}

/* Importar fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Crushed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
